<h1>Appointments#edit</h1>
<p>Find me in app/views/appointments/edit.html.erb</p>
<%= form_for @model do |f| %>
<%= f.label :doctor %>:

  <%= f.collection_select(:doctor_id, Doctor.all, :id, :first_name, :prompt => "Select") %><br>
  <%= f.label :patient %>:
   <%= f.collection_select(:patient_id, Patient.all, :id, :first_name, :prompt => 'Select') %><br>
  <%= f.date_field :date %><br>
  <%= f.time_field :start_time %>
  <span> to </span>
  <%= f.time_field :end_time %> <br>
  <%= f.submit :submit %>
  <% end %>